/*
*
* @author Nícolas Georgeos Mantzos
*/

/* Layout
------------------*/
body{
    background: url('../img/capa.png'), /*1ª imagem*/
                url('../img/ruido.png'), /*2ª imagem*/
                linear-gradient(50deg,#ff4169,#72c6f8); /*3ª imagem*/
                background-attachment: fixed;                        
}   

/* Barra de navegação
------------------*/

nav.navbar-transparente{
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0;
}

.navbar-light .navbar-nav .nav-link{
    color: white;

}

.navbar-light .navbar-nav .nav-link:hover{
    color: #9bf0e1;

}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}

.divisor{
    width: 1px;
    background: white;
    margin: 12px 15px;
}